<?xml version="1.0" encoding="utf-8"?>
<NetTiersMap xmlns="http://www.nettiers.com/NetTiersMap.xsd">
	<Table Id="Cities" EntityName="Cities" Owner="dbo" PropertyName="Cities" FieldName="_cities" FriendlyName="Cities" IncludeInOutput="true">
		<Column Id="ID" CSType="System.Int32" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="Name" CSType="System.String" PropertyName="Name" FieldName="_name" FriendlyName="Name" IncludeInOutput="true" />
		<Column Id="IsActive" CSType="System.Boolean?" PropertyName="IsActive" FieldName="_isActive" FriendlyName="Is Active" IncludeInOutput="true" />
		<Column Id="StateID" CSType="System.Int32?" PropertyName="StateId" FieldName="_stateId" FriendlyName="State Id" IncludeInOutput="true" />
		<Column Id="Pin" CSType="System.Int64?" PropertyName="Pin" FieldName="_pin" FriendlyName="Pin" IncludeInOutput="true" />
		<Column Id="CreatedDate" CSType="System.DateTime?" PropertyName="CreatedDate" FieldName="_createdDate" FriendlyName="Created Date" IncludeInOutput="true" />
		<Column Id="ModifiedDate" CSType="System.DateTime?" PropertyName="ModifiedDate" FieldName="_modifiedDate" FriendlyName="Modified Date" IncludeInOutput="true" />
		<Column Id="DeletedDate" CSType="System.DateTime?" PropertyName="DeletedDate" FieldName="_deletedDate" FriendlyName="Deleted Date" IncludeInOutput="true" />
		<ChildCollection Id="CustomerBillingCollection" PropertyName="CustomerBillingCollection" FieldName="_customerBillingCityId" FriendlyName="CustomerBillingCollection" CSType="TList&lt;CustomerBilling&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_CustomerBilling_Cities" IncludeInOutput="true"/>
		<ChildCollection Id="DistributarsCollection" PropertyName="DistributarsCollection" FieldName="_distributarsCityId" FriendlyName="DistributarsCollection" CSType="TList&lt;Distributars&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_Distributars_Cities" IncludeInOutput="true"/>
	</Table>
	<Table Id="Countries" EntityName="Countries" Owner="dbo" PropertyName="Countries" FieldName="_countries" FriendlyName="Countries" IncludeInOutput="true">
		<Column Id="ID" CSType="System.Int32" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="Name" CSType="System.String" PropertyName="Name" FieldName="_name" FriendlyName="Name" IncludeInOutput="true" />
		<Column Id="IsActive" CSType="System.Boolean?" PropertyName="IsActive" FieldName="_isActive" FriendlyName="Is Active" IncludeInOutput="true" />
		<Column Id="CreatedDate" CSType="System.DateTime?" PropertyName="CreatedDate" FieldName="_createdDate" FriendlyName="Created Date" IncludeInOutput="true" />
		<Column Id="ModifiedDate" CSType="System.DateTime?" PropertyName="ModifiedDate" FieldName="_modifiedDate" FriendlyName="Modified Date" IncludeInOutput="true" />
		<Column Id="Deleteddate" CSType="System.DateTime?" PropertyName="Deleteddate" FieldName="_deleteddate" FriendlyName="Deleteddate" IncludeInOutput="true" />
		<ChildCollection Id="StatesCollection" PropertyName="StatesCollection" FieldName="_statesCountryId" FriendlyName="StatesCollection" CSType="TList&lt;States&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_States_Countries" IncludeInOutput="true"/>
		<ChildCollection Id="CustomerBillingCollection" PropertyName="CustomerBillingCollection" FieldName="_customerBillingCountryId" FriendlyName="CustomerBillingCollection" CSType="TList&lt;CustomerBilling&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_CustomerBilling_Countries" IncludeInOutput="true"/>
		<ChildCollection Id="DistributarsCollection" PropertyName="DistributarsCollection" FieldName="_distributarsCountryId" FriendlyName="DistributarsCollection" CSType="TList&lt;Distributars&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_Distributars_Countries" IncludeInOutput="true"/>
	</Table>
	<Table Id="CustomerBilling" EntityName="CustomerBilling" Owner="dbo" PropertyName="CustomerBilling" FieldName="_customerBilling" FriendlyName="Customer Billing" IncludeInOutput="true">
		<Column Id="ID" CSType="System.Int32" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="Name" CSType="System.String" PropertyName="Name" FieldName="_name" FriendlyName="Name" IncludeInOutput="true" />
		<Column Id="Address" CSType="System.String" PropertyName="Address" FieldName="_address" FriendlyName="Address" IncludeInOutput="true" />
		<Column Id="LandMark" CSType="System.String" PropertyName="LandMark" FieldName="_landMark" FriendlyName="Land Mark" IncludeInOutput="true" />
		<Column Id="PinCode" CSType="System.Int64?" PropertyName="PinCode" FieldName="_pinCode" FriendlyName="Pin Code" IncludeInOutput="true" />
		<Column Id="Phone" CSType="System.Int64?" PropertyName="Phone" FieldName="_phone" FriendlyName="Phone" IncludeInOutput="true" />
		<Column Id="CityID" CSType="System.Int32?" PropertyName="CityId" FieldName="_cityId" FriendlyName="City Id" IncludeInOutput="true" />
		<Column Id="StateID" CSType="System.Int32?" PropertyName="StateId" FieldName="_stateId" FriendlyName="State Id" IncludeInOutput="true" />
		<Column Id="CountryID" CSType="System.Int32?" PropertyName="CountryId" FieldName="_countryId" FriendlyName="Country Id" IncludeInOutput="true" />
		<Column Id="IsActive" CSType="System.Boolean?" PropertyName="IsActive" FieldName="_isActive" FriendlyName="Is Active" IncludeInOutput="true" />
		<Column Id="OrderID" CSType="System.Int32?" PropertyName="OrderId" FieldName="_orderId" FriendlyName="Order Id" IncludeInOutput="true" />
		<Column Id="CustomerID" CSType="System.Int32?" PropertyName="CustomerId" FieldName="_customerId" FriendlyName="Customer Id" IncludeInOutput="true" />
		<Column Id="AddressTypeiD" CSType="System.Int32?" PropertyName="AddressTypeid" FieldName="_addressTypeid" FriendlyName="Address Typeid" IncludeInOutput="true" />
		<Column Id="CreatedDate" CSType="System.DateTime?" PropertyName="CreatedDate" FieldName="_createdDate" FriendlyName="Created Date" IncludeInOutput="true" />
		<Column Id="ModifiedDate" CSType="System.DateTime?" PropertyName="ModifiedDate" FieldName="_modifiedDate" FriendlyName="Modified Date" IncludeInOutput="true" />
		<Column Id="DeletedDate" CSType="System.DateTime?" PropertyName="DeletedDate" FieldName="_deletedDate" FriendlyName="Deleted Date" IncludeInOutput="true" />
		<ChildCollection Id="OrdersCollection" PropertyName="OrdersCollection" FieldName="_ordersBillingId" FriendlyName="OrdersCollection" CSType="TList&lt;Orders&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_Orders_CustomerBilling" IncludeInOutput="true"/>
	</Table>
	<Table Id="Customers" EntityName="Customers" Owner="dbo" PropertyName="Customers" FieldName="_customers" FriendlyName="Customers" IncludeInOutput="true">
		<Column Id="ID" CSType="System.Int32" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="Name" CSType="System.String" PropertyName="Name" FieldName="_name" FriendlyName="Name" IncludeInOutput="true" />
		<Column Id="EmailID" CSType="System.String" PropertyName="EmailId" FieldName="_emailId" FriendlyName="Email Id" IncludeInOutput="true" />
		<Column Id="Password" CSType="System.String" PropertyName="Password" FieldName="_password" FriendlyName="Password" IncludeInOutput="true" />
		<Column Id="UserType" CSType="System.Int32?" PropertyName="UserType" FieldName="_userType" FriendlyName="User Type" IncludeInOutput="true" />
		<Column Id="Gender" CSType="System.Int32?" PropertyName="Gender" FieldName="_gender" FriendlyName="Gender" IncludeInOutput="true" />
		<Column Id="FirstName" CSType="System.String" PropertyName="FirstName" FieldName="_firstName" FriendlyName="First Name" IncludeInOutput="true" />
		<Column Id="LastName" CSType="System.String" PropertyName="LastName" FieldName="_lastName" FriendlyName="Last Name" IncludeInOutput="true" />
		<Column Id="MobileNumber" CSType="System.String" PropertyName="MobileNumber" FieldName="_mobileNumber" FriendlyName="Mobile Number" IncludeInOutput="true" />
		<Column Id="LandNumber" CSType="System.String" PropertyName="LandNumber" FieldName="_landNumber" FriendlyName="Land Number" IncludeInOutput="true" />
		<Column Id="IsActive" CSType="System.Boolean?" PropertyName="IsActive" FieldName="_isActive" FriendlyName="Is Active" IncludeInOutput="true" />
		<Column Id="CreatedDate" CSType="System.DateTime?" PropertyName="CreatedDate" FieldName="_createdDate" FriendlyName="Created Date" IncludeInOutput="true" />
		<Column Id="ModifiedDate" CSType="System.DateTime?" PropertyName="ModifiedDate" FieldName="_modifiedDate" FriendlyName="Modified Date" IncludeInOutput="true" />
		<Column Id="DeletedDate" CSType="System.DateTime?" PropertyName="DeletedDate" FieldName="_deletedDate" FriendlyName="Deleted Date" IncludeInOutput="true" />
		<ChildCollection Id="OrdersCollection" PropertyName="OrdersCollection" FieldName="_ordersCustomerId" FriendlyName="OrdersCollection" CSType="TList&lt;Orders&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_Orders_Customers" IncludeInOutput="true"/>
		<ChildCollection Id="CustomerBillingCollection" PropertyName="CustomerBillingCollection" FieldName="_customerBillingCustomerId" FriendlyName="CustomerBillingCollection" CSType="TList&lt;CustomerBilling&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_CustomerBilling_Customers" IncludeInOutput="true"/>
		<ChildCollection Id="OrderDetailsCollection" PropertyName="OrderDetailsCollection" FieldName="_orderDetailsCustomerId" FriendlyName="OrderDetailsCollection" CSType="TList&lt;OrderDetails&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_OrderDetails_Customers" IncludeInOutput="true"/>
	</Table>
	<Table Id="DeliveredDays" EntityName="DeliveredDays" Owner="dbo" PropertyName="DeliveredDays" FieldName="_deliveredDays" FriendlyName="Delivered Days" IncludeInOutput="true">
		<Column Id="ID" CSType="System.Int32" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="DeliveryIN" CSType="System.String" PropertyName="DeliveryIn" FieldName="_deliveryIn" FriendlyName="Delivery In" IncludeInOutput="true" />
		<Column Id="IsActive" CSType="System.Boolean?" PropertyName="IsActive" FieldName="_isActive" FriendlyName="Is Active" IncludeInOutput="true" />
		<Column Id="CreatedDate" CSType="System.DateTime?" PropertyName="CreatedDate" FieldName="_createdDate" FriendlyName="Created Date" IncludeInOutput="true" />
		<Column Id="ModifiedDate" CSType="System.DateTime?" PropertyName="ModifiedDate" FieldName="_modifiedDate" FriendlyName="Modified Date" IncludeInOutput="true" />
		<Column Id="DeletedDate" CSType="System.DateTime?" PropertyName="DeletedDate" FieldName="_deletedDate" FriendlyName="Deleted Date" IncludeInOutput="true" />
		<ChildCollection Id="DistributarsCollection" PropertyName="DistributarsCollection" FieldName="_distributarsDaliveredDaysId" FriendlyName="DistributarsCollection" CSType="TList&lt;Distributars&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_Distributars_Distributars" IncludeInOutput="true"/>
	</Table>
	<Table Id="Distributars" EntityName="Distributars" Owner="dbo" PropertyName="Distributars" FieldName="_distributars" FriendlyName="Distributars" IncludeInOutput="true">
		<Column Id="ID" CSType="System.Int32" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="Name" CSType="System.String" PropertyName="Name" FieldName="_name" FriendlyName="Name" IncludeInOutput="true" />
		<Column Id="FirstName" CSType="System.String" PropertyName="FirstName" FieldName="_firstName" FriendlyName="First Name" IncludeInOutput="true" />
		<Column Id="LastName" CSType="System.String" PropertyName="LastName" FieldName="_lastName" FriendlyName="Last Name" IncludeInOutput="true" />
		<Column Id="Address" CSType="System.String" PropertyName="Address" FieldName="_address" FriendlyName="Address" IncludeInOutput="true" />
		<Column Id="StateID" CSType="System.Int32?" PropertyName="StateId" FieldName="_stateId" FriendlyName="State Id" IncludeInOutput="true" />
		<Column Id="CityID" CSType="System.Int32?" PropertyName="CityId" FieldName="_cityId" FriendlyName="City Id" IncludeInOutput="true" />
		<Column Id="CountryID" CSType="System.Int32?" PropertyName="CountryId" FieldName="_countryId" FriendlyName="Country Id" IncludeInOutput="true" />
		<Column Id="Pin" CSType="System.Int64?" PropertyName="Pin" FieldName="_pin" FriendlyName="Pin" IncludeInOutput="true" />
		<Column Id="DaliveredDaysID" CSType="System.Int32?" PropertyName="DaliveredDaysId" FieldName="_daliveredDaysId" FriendlyName="Dalivered Days Id" IncludeInOutput="true" />
		<Column Id="Description" CSType="System.String" PropertyName="Description" FieldName="_description" FriendlyName="Description" IncludeInOutput="true" />
		<Column Id="MobileNo" CSType="System.Int64?" PropertyName="MobileNo" FieldName="_mobileNo" FriendlyName="Mobile No" IncludeInOutput="true" />
		<Column Id="LandNo" CSType="System.Int64?" PropertyName="LandNo" FieldName="_landNo" FriendlyName="Land No" IncludeInOutput="true" />
		<Column Id="IsActive" CSType="System.Boolean?" PropertyName="IsActive" FieldName="_isActive" FriendlyName="Is Active" IncludeInOutput="true" />
		<Column Id="CreatedDate" CSType="System.DateTime?" PropertyName="CreatedDate" FieldName="_createdDate" FriendlyName="Created Date" IncludeInOutput="true" />
		<Column Id="DeletedDate" CSType="System.DateTime?" PropertyName="DeletedDate" FieldName="_deletedDate" FriendlyName="Deleted Date" IncludeInOutput="true" />
		<Column Id="ModifiedDate" CSType="System.DateTime?" PropertyName="ModifiedDate" FieldName="_modifiedDate" FriendlyName="Modified Date" IncludeInOutput="true" />
		<ChildCollection Id="DistributorsOrdersCollection" PropertyName="DistributorsOrdersCollection" FieldName="_distributorsOrdersDistributorId" FriendlyName="DistributorsOrdersCollection" CSType="TList&lt;DistributorsOrders&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_DistributorsOrders_Distributars" IncludeInOutput="true"/>
	</Table>
	<Table Id="DistributorsOrders" EntityName="DistributorsOrders" Owner="dbo" PropertyName="DistributorsOrders" FieldName="_distributorsOrders" FriendlyName="Distributors Orders" IncludeInOutput="true">
		<Column Id="ID" CSType="System.Int32" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="DistributorID" CSType="System.Int32?" PropertyName="DistributorId" FieldName="_distributorId" FriendlyName="Distributor Id" IncludeInOutput="true" />
		<Column Id="OrderID" CSType="System.Int32?" PropertyName="OrderId" FieldName="_orderId" FriendlyName="Order Id" IncludeInOutput="true" />
		<Column Id="IsActive" CSType="System.Boolean?" PropertyName="IsActive" FieldName="_isActive" FriendlyName="Is Active" IncludeInOutput="true" />
		<Column Id="CreatedDate" CSType="System.DateTime?" PropertyName="CreatedDate" FieldName="_createdDate" FriendlyName="Created Date" IncludeInOutput="true" />
		<Column Id="ModifiedDate" CSType="System.DateTime?" PropertyName="ModifiedDate" FieldName="_modifiedDate" FriendlyName="Modified Date" IncludeInOutput="true" />
		<Column Id="DeletedDate" CSType="System.DateTime?" PropertyName="DeletedDate" FieldName="_deletedDate" FriendlyName="Deleted Date" IncludeInOutput="true" />
	</Table>
	<Table Id="Gender" EntityName="Gender" Owner="dbo" PropertyName="Gender" FieldName="_gender" FriendlyName="Gender" IncludeInOutput="true">
		<Column Id="ID" CSType="System.Int32" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="GName" CSType="System.String" PropertyName="Gname" FieldName="_gname" FriendlyName="Gname" IncludeInOutput="true" />
		<Column Id="ISActive" CSType="System.Boolean?" PropertyName="IsActive" FieldName="_isActive" FriendlyName="Is Active" IncludeInOutput="true" />
		<Column Id="CreatedDAte" CSType="System.DateTime?" PropertyName="CreatedDate" FieldName="_createdDate" FriendlyName="Created Date" IncludeInOutput="true" />
		<Column Id="ModifiedDate" CSType="System.DateTime?" PropertyName="ModifiedDate" FieldName="_modifiedDate" FriendlyName="Modified Date" IncludeInOutput="true" />
		<Column Id="DeletedDate" CSType="System.DateTime?" PropertyName="DeletedDate" FieldName="_deletedDate" FriendlyName="Deleted Date" IncludeInOutput="true" />
		<ChildCollection Id="CustomersCollection" PropertyName="CustomersCollection" FieldName="_customersGender" FriendlyName="CustomersCollection" CSType="TList&lt;Customers&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_Customers_Gender" IncludeInOutput="true"/>
	</Table>
	<Table Id="ItemPurchase" EntityName="ItemPurchase" Owner="dbo" PropertyName="ItemPurchase" FieldName="_itemPurchase" FriendlyName="Item Purchase" IncludeInOutput="true">
		<Column Id="ID" CSType="System.Int32" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="ItemID" CSType="System.Int32?" PropertyName="ItemId" FieldName="_itemId" FriendlyName="Item Id" IncludeInOutput="true" />
		<Column Id="Cost" CSType="System.Int64?" PropertyName="Cost" FieldName="_cost" FriendlyName="Cost" IncludeInOutput="true" />
		<Column Id="ISActive" CSType="System.Boolean?" PropertyName="IsActive" FieldName="_isActive" FriendlyName="Is Active" IncludeInOutput="true" />
		<Column Id="CreatedDate" CSType="System.DateTime?" PropertyName="CreatedDate" FieldName="_createdDate" FriendlyName="Created Date" IncludeInOutput="true" />
		<Column Id="Modifieddate" CSType="System.DateTime?" PropertyName="Modifieddate" FieldName="_modifieddate" FriendlyName="Modifieddate" IncludeInOutput="true" />
		<Column Id="DeletedDate" CSType="System.DateTime?" PropertyName="DeletedDate" FieldName="_deletedDate" FriendlyName="Deleted Date" IncludeInOutput="true" />
		<ChildCollection Id="ProdTableCollection" PropertyName="ProdTableCollection" FieldName="_prodTablePurchaseId" FriendlyName="ProdTableCollection" CSType="TList&lt;ProdTable&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_ProdTable_ItemPurchase" IncludeInOutput="true"/>
	</Table>
	<Table Id="Items" EntityName="Items" Owner="dbo" PropertyName="Items" FieldName="_items" FriendlyName="Items" IncludeInOutput="true">
		<Column Id="ID" CSType="System.Int32" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="ItemName" CSType="System.String" PropertyName="ItemName" FieldName="_itemName" FriendlyName="Item Name" IncludeInOutput="true" />
		<Column Id="IsActive" CSType="System.Boolean?" PropertyName="IsActive" FieldName="_isActive" FriendlyName="Is Active" IncludeInOutput="true" />
		<Column Id="CreatedDate" CSType="System.DateTime?" PropertyName="CreatedDate" FieldName="_createdDate" FriendlyName="Created Date" IncludeInOutput="true" />
		<Column Id="Modifieddate" CSType="System.DateTime?" PropertyName="Modifieddate" FieldName="_modifieddate" FriendlyName="Modifieddate" IncludeInOutput="true" />
		<Column Id="DeletedDate" CSType="System.DateTime?" PropertyName="DeletedDate" FieldName="_deletedDate" FriendlyName="Deleted Date" IncludeInOutput="true" />
		<ChildCollection Id="ItemPurchaseCollection" PropertyName="ItemPurchaseCollection" FieldName="_itemPurchaseItemId" FriendlyName="ItemPurchaseCollection" CSType="TList&lt;ItemPurchase&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_ItemPurchase_Items" IncludeInOutput="true"/>
		<ChildCollection Id="ProdTableCollection" PropertyName="ProdTableCollection" FieldName="_prodTableItemId" FriendlyName="ProdTableCollection" CSType="TList&lt;ProdTable&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_ProdTable_Items" IncludeInOutput="true"/>
		<ChildCollection Id="ItemSellCollection" PropertyName="ItemSellCollection" FieldName="_itemSellItemId" FriendlyName="ItemSellCollection" CSType="TList&lt;ItemSell&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_ItemSell_Items" IncludeInOutput="true"/>
		<ChildCollection Id="OrderDetailsCollection" PropertyName="OrderDetailsCollection" FieldName="_orderDetailsItemId" FriendlyName="OrderDetailsCollection" CSType="TList&lt;OrderDetails&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_OrderDetails_Items" IncludeInOutput="true"/>
	</Table>
	<Table Id="ItemSell" EntityName="ItemSell" Owner="dbo" PropertyName="ItemSell" FieldName="_itemSell" FriendlyName="Item Sell" IncludeInOutput="true">
		<Column Id="ID" CSType="System.Int32" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="ItemID" CSType="System.Int32?" PropertyName="ItemId" FieldName="_itemId" FriendlyName="Item Id" IncludeInOutput="true" />
		<Column Id="Cost" CSType="System.String" PropertyName="Cost" FieldName="_cost" FriendlyName="Cost" IncludeInOutput="true" />
		<Column Id="CostVary" CSType="System.Decimal?" PropertyName="CostVary" FieldName="_costVary" FriendlyName="Cost Vary" IncludeInOutput="true" />
		<Column Id="Createdate" CSType="System.DateTime?" PropertyName="Createdate" FieldName="_createdate" FriendlyName="Createdate" IncludeInOutput="true" />
		<Column Id="ModifiedDate" CSType="System.DateTime?" PropertyName="ModifiedDate" FieldName="_modifiedDate" FriendlyName="Modified Date" IncludeInOutput="true" />
		<Column Id="DeletedDate" CSType="System.DateTime?" PropertyName="DeletedDate" FieldName="_deletedDate" FriendlyName="Deleted Date" IncludeInOutput="true" />
		<ChildCollection Id="ProdTableCollection" PropertyName="ProdTableCollection" FieldName="_prodTableSellId" FriendlyName="ProdTableCollection" CSType="TList&lt;ProdTable&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_ProdTable_ItemSell" IncludeInOutput="true"/>
	</Table>
	<Table Id="OrderDetails" EntityName="OrderDetails" Owner="dbo" PropertyName="OrderDetails" FieldName="_orderDetails" FriendlyName="Order Details" IncludeInOutput="true">
		<Column Id="ID" CSType="System.Int32" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="OrderId" CSType="System.Int32?" PropertyName="OrderId" FieldName="_orderId" FriendlyName="Order Id" IncludeInOutput="true" />
		<Column Id="CustomerID" CSType="System.Int32?" PropertyName="CustomerId" FieldName="_customerId" FriendlyName="Customer Id" IncludeInOutput="true" />
		<Column Id="ItemID" CSType="System.Int32?" PropertyName="ItemId" FieldName="_itemId" FriendlyName="Item Id" IncludeInOutput="true" />
		<Column Id="Amount" CSType="System.Int64?" PropertyName="Amount" FieldName="_amount" FriendlyName="Amount" IncludeInOutput="true" />
		<Column Id="ISActive" CSType="System.Boolean?" PropertyName="IsActive" FieldName="_isActive" FriendlyName="Is Active" IncludeInOutput="true" />
		<Column Id="CreatedDate" CSType="System.DateTime?" PropertyName="CreatedDate" FieldName="_createdDate" FriendlyName="Created Date" IncludeInOutput="true" />
		<Column Id="ModifiedDate" CSType="System.DateTime?" PropertyName="ModifiedDate" FieldName="_modifiedDate" FriendlyName="Modified Date" IncludeInOutput="true" />
		<Column Id="DeletedDate" CSType="System.DateTime?" PropertyName="DeletedDate" FieldName="_deletedDate" FriendlyName="Deleted Date" IncludeInOutput="true" />
	</Table>
	<Table Id="Orders" EntityName="Orders" Owner="dbo" PropertyName="Orders" FieldName="_orders" FriendlyName="Orders" IncludeInOutput="true">
		<Column Id="ID" CSType="System.Int32" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="CustomerID" CSType="System.Int32?" PropertyName="CustomerId" FieldName="_customerId" FriendlyName="Customer Id" IncludeInOutput="true" />
		<Column Id="OrderStatusID" CSType="System.Int32?" PropertyName="OrderStatusId" FieldName="_orderStatusId" FriendlyName="Order Status Id" IncludeInOutput="true" />
		<Column Id="BillingID" CSType="System.Int32?" PropertyName="BillingId" FieldName="_billingId" FriendlyName="Billing Id" IncludeInOutput="true" />
		<Column Id="TotalAmount" CSType="System.Int64?" PropertyName="TotalAmount" FieldName="_totalAmount" FriendlyName="Total Amount" IncludeInOutput="true" />
		<Column Id="SurveyID" CSType="System.Int32?" PropertyName="SurveyId" FieldName="_surveyId" FriendlyName="Survey Id" IncludeInOutput="true" />
		<Column Id="ISActive" CSType="System.Boolean?" PropertyName="IsActive" FieldName="_isActive" FriendlyName="Is Active" IncludeInOutput="true" />
		<Column Id="ISDeliver" CSType="System.Boolean?" PropertyName="IsDeliver" FieldName="_isDeliver" FriendlyName="Is Deliver" IncludeInOutput="true" />
		<Column Id="IsSurveyDone" CSType="System.Boolean?" PropertyName="IsSurveyDone" FieldName="_isSurveyDone" FriendlyName="Is Survey Done" IncludeInOutput="true" />
		<Column Id="BookingDate" CSType="System.DateTime?" PropertyName="BookingDate" FieldName="_bookingDate" FriendlyName="Booking Date" IncludeInOutput="true" />
		<Column Id="CreatedDate" CSType="System.DateTime?" PropertyName="CreatedDate" FieldName="_createdDate" FriendlyName="Created Date" IncludeInOutput="true" />
		<Column Id="ModifiedDate" CSType="System.DateTime?" PropertyName="ModifiedDate" FieldName="_modifiedDate" FriendlyName="Modified Date" IncludeInOutput="true" />
		<Column Id="DeletedDate" CSType="System.DateTime?" PropertyName="DeletedDate" FieldName="_deletedDate" FriendlyName="Deleted Date" IncludeInOutput="true" />
		<ChildCollection Id="CustomerBillingCollection" PropertyName="CustomerBillingCollection" FieldName="_customerBillingOrderId" FriendlyName="CustomerBillingCollection" CSType="TList&lt;CustomerBilling&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_CustomerBilling_Orders" IncludeInOutput="true"/>
		<ChildCollection Id="OrderDetailsCollection" PropertyName="OrderDetailsCollection" FieldName="_orderDetailsOrderId" FriendlyName="OrderDetailsCollection" CSType="TList&lt;OrderDetails&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_OrderDetails_Orders" IncludeInOutput="true"/>
		<ChildCollection Id="DistributorsOrdersCollection" PropertyName="DistributorsOrdersCollection" FieldName="_distributorsOrdersOrderId" FriendlyName="DistributorsOrdersCollection" CSType="TList&lt;DistributorsOrders&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_DistributorsOrders_Orders" IncludeInOutput="true"/>
	</Table>
	<Table Id="OrderStatus" EntityName="OrderStatus" Owner="dbo" PropertyName="OrderStatus" FieldName="_orderStatus" FriendlyName="Order Status" IncludeInOutput="true">
		<Column Id="ID" CSType="System.Int32" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="Name" CSType="System.String" PropertyName="Name" FieldName="_name" FriendlyName="Name" IncludeInOutput="true" />
		<Column Id="ISActive" CSType="System.Boolean?" PropertyName="IsActive" FieldName="_isActive" FriendlyName="Is Active" IncludeInOutput="true" />
		<Column Id="CreatedDate" CSType="System.DateTime?" PropertyName="CreatedDate" FieldName="_createdDate" FriendlyName="Created Date" IncludeInOutput="true" />
		<Column Id="ModifiedDate" CSType="System.DateTime?" PropertyName="ModifiedDate" FieldName="_modifiedDate" FriendlyName="Modified Date" IncludeInOutput="true" />
		<Column Id="DeletedDate" CSType="System.DateTime?" PropertyName="DeletedDate" FieldName="_deletedDate" FriendlyName="Deleted Date" IncludeInOutput="true" />
		<ChildCollection Id="OrdersCollection" PropertyName="OrdersCollection" FieldName="_ordersOrderStatusId" FriendlyName="OrdersCollection" CSType="TList&lt;Orders&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_Orders_OrderStatus" IncludeInOutput="true"/>
	</Table>
	<Table Id="ProdCategory" EntityName="ProdCategory" Owner="dbo" PropertyName="ProdCategory" FieldName="_prodCategory" FriendlyName="Prod Category" IncludeInOutput="true">
		<Column Id="Id" CSType="System.Int32" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="Name" CSType="System.String" PropertyName="Name" FieldName="_name" FriendlyName="Name" IncludeInOutput="true" />
		<Column Id="IsActive" CSType="System.Boolean?" PropertyName="IsActive" FieldName="_isActive" FriendlyName="Is Active" IncludeInOutput="true" />
		<Column Id="CreatedDate" CSType="System.DateTime?" PropertyName="CreatedDate" FieldName="_createdDate" FriendlyName="Created Date" IncludeInOutput="true" />
		<Column Id="ModifiedDate" CSType="System.DateTime?" PropertyName="ModifiedDate" FieldName="_modifiedDate" FriendlyName="Modified Date" IncludeInOutput="true" />
		<Column Id="DeletedDate" CSType="System.DateTime?" PropertyName="DeletedDate" FieldName="_deletedDate" FriendlyName="Deleted Date" IncludeInOutput="true" />
		<ChildCollection Id="ProdTableCollection" PropertyName="ProdTableCollection" FieldName="_prodTableCategoryId" FriendlyName="ProdTableCollection" CSType="TList&lt;ProdTable&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_ProdTable_ProdCategory" IncludeInOutput="true"/>
	</Table>
	<Table Id="ProdCompany" EntityName="ProdCompany" Owner="dbo" PropertyName="ProdCompany" FieldName="_prodCompany" FriendlyName="Prod Company" IncludeInOutput="true">
		<Column Id="ID" CSType="System.Int32" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="CompanyName" CSType="System.String" PropertyName="CompanyName" FieldName="_companyName" FriendlyName="Company Name" IncludeInOutput="true" />
		<Column Id="IsActive" CSType="System.Boolean?" PropertyName="IsActive" FieldName="_isActive" FriendlyName="Is Active" IncludeInOutput="true" />
		<Column Id="CreatedDate" CSType="System.DateTime?" PropertyName="CreatedDate" FieldName="_createdDate" FriendlyName="Created Date" IncludeInOutput="true" />
		<Column Id="ModifiedDate" CSType="System.DateTime?" PropertyName="ModifiedDate" FieldName="_modifiedDate" FriendlyName="Modified Date" IncludeInOutput="true" />
		<Column Id="DeletedDate" CSType="System.DateTime?" PropertyName="DeletedDate" FieldName="_deletedDate" FriendlyName="Deleted Date" IncludeInOutput="true" />
		<ChildCollection Id="ProdTableCollection" PropertyName="ProdTableCollection" FieldName="_prodTableCompanyId" FriendlyName="ProdTableCollection" CSType="TList&lt;ProdTable&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_ProdTable_ProdCompany" IncludeInOutput="true"/>
	</Table>
	<Table Id="ProdMedicineFor" EntityName="ProdMedicineFor" Owner="dbo" PropertyName="ProdMedicineFor" FieldName="_prodMedicineFor" FriendlyName="Prod Medicine For" IncludeInOutput="true">
		<Column Id="ID" CSType="System.Int32" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="Name" CSType="System.String" PropertyName="Name" FieldName="_name" FriendlyName="Name" IncludeInOutput="true" />
		<Column Id="IsActive" CSType="System.Boolean?" PropertyName="IsActive" FieldName="_isActive" FriendlyName="Is Active" IncludeInOutput="true" />
		<Column Id="CreatedDate" CSType="System.DateTime?" PropertyName="CreatedDate" FieldName="_createdDate" FriendlyName="Created Date" IncludeInOutput="true" />
		<Column Id="ModifiedDate" CSType="System.DateTime?" PropertyName="ModifiedDate" FieldName="_modifiedDate" FriendlyName="Modified Date" IncludeInOutput="true" />
		<Column Id="DeletedDate" CSType="System.DateTime?" PropertyName="DeletedDate" FieldName="_deletedDate" FriendlyName="Deleted Date" IncludeInOutput="true" />
		<ChildCollection Id="ProdTableCollection" PropertyName="ProdTableCollection" FieldName="_prodTableMedicineForId" FriendlyName="ProdTableCollection" CSType="TList&lt;ProdTable&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_ProdTable_ProdMedicineFor" IncludeInOutput="true"/>
	</Table>
	<Table Id="ProdOffer" EntityName="ProdOffer" Owner="dbo" PropertyName="ProdOffer" FieldName="_prodOffer" FriendlyName="Prod Offer" IncludeInOutput="true">
		<Column Id="ID" CSType="System.Int32" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="OfferPercent" CSType="System.Decimal?" PropertyName="OfferPercent" FieldName="_offerPercent" FriendlyName="Offer Percent" IncludeInOutput="true" />
		<Column Id="IsActive" CSType="System.Boolean?" PropertyName="IsActive" FieldName="_isActive" FriendlyName="Is Active" IncludeInOutput="true" />
		<Column Id="CreatedDate" CSType="System.DateTime?" PropertyName="CreatedDate" FieldName="_createdDate" FriendlyName="Created Date" IncludeInOutput="true" />
		<Column Id="ModifiedDate" CSType="System.DateTime?" PropertyName="ModifiedDate" FieldName="_modifiedDate" FriendlyName="Modified Date" IncludeInOutput="true" />
		<Column Id="DeletedDate" CSType="System.DateTime?" PropertyName="DeletedDate" FieldName="_deletedDate" FriendlyName="Deleted Date" IncludeInOutput="true" />
	</Table>
	<Table Id="ProdSupplymentType" EntityName="ProdSupplymentType" Owner="dbo" PropertyName="ProdSupplymentType" FieldName="_prodSupplymentType" FriendlyName="Prod Supplyment Type" IncludeInOutput="true">
		<Column Id="ID" CSType="System.Int32" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="Name" CSType="System.String" PropertyName="Name" FieldName="_name" FriendlyName="Name" IncludeInOutput="true" />
		<Column Id="IsActive" CSType="System.Boolean?" PropertyName="IsActive" FieldName="_isActive" FriendlyName="Is Active" IncludeInOutput="true" />
		<Column Id="CreatedDate" CSType="System.DateTime?" PropertyName="CreatedDate" FieldName="_createdDate" FriendlyName="Created Date" IncludeInOutput="true" />
		<Column Id="ModifiedDate" CSType="System.DateTime?" PropertyName="ModifiedDate" FieldName="_modifiedDate" FriendlyName="Modified Date" IncludeInOutput="true" />
		<Column Id="DeletedDate" CSType="System.DateTime?" PropertyName="DeletedDate" FieldName="_deletedDate" FriendlyName="Deleted Date" IncludeInOutput="true" />
		<ChildCollection Id="ProdTableCollection" PropertyName="ProdTableCollection" FieldName="_prodTableSupplementId" FriendlyName="ProdTableCollection" CSType="TList&lt;ProdTable&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_ProdTable_ProdSupplymentType" IncludeInOutput="true"/>
	</Table>
	<Table Id="ProdTable" EntityName="ProdTable" Owner="dbo" PropertyName="ProdTable" FieldName="_prodTable" FriendlyName="Prod Table" IncludeInOutput="true">
		<Column Id="ID" CSType="System.Int32" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="ItemID" CSType="System.Int32?" PropertyName="ItemId" FieldName="_itemId" FriendlyName="Item Id" IncludeInOutput="true" />
		<Column Id="CategoryID" CSType="System.Int32?" PropertyName="CategoryId" FieldName="_categoryId" FriendlyName="Category Id" IncludeInOutput="true" />
		<Column Id="CompanyID" CSType="System.Int32?" PropertyName="CompanyId" FieldName="_companyId" FriendlyName="Company Id" IncludeInOutput="true" />
		<Column Id="TypeID" CSType="System.Int32?" PropertyName="TypeId" FieldName="_typeId" FriendlyName="Type Id" IncludeInOutput="true" />
		<Column Id="SupplementID" CSType="System.Int32?" PropertyName="SupplementId" FieldName="_supplementId" FriendlyName="Supplement Id" IncludeInOutput="true" />
		<Column Id="MedicineForID" CSType="System.Int32?" PropertyName="MedicineForId" FieldName="_medicineForId" FriendlyName="Medicine For Id" IncludeInOutput="true" />
		<Column Id="PurchaseID" CSType="System.Int32?" PropertyName="PurchaseId" FieldName="_purchaseId" FriendlyName="Purchase Id" IncludeInOutput="true" />
		<Column Id="SellID" CSType="System.Int32?" PropertyName="SellId" FieldName="_sellId" FriendlyName="Sell Id" IncludeInOutput="true" />
		<Column Id="OfferID" CSType="System.Int32?" PropertyName="OfferId" FieldName="_offerId" FriendlyName="Offer Id" IncludeInOutput="true" />
		<Column Id="IsActive" CSType="System.Boolean?" PropertyName="IsActive" FieldName="_isActive" FriendlyName="Is Active" IncludeInOutput="true" />
		<Column Id="CreatedDate" CSType="System.DateTime?" PropertyName="CreatedDate" FieldName="_createdDate" FriendlyName="Created Date" IncludeInOutput="true" />
		<Column Id="ModifiedDate" CSType="System.DateTime?" PropertyName="ModifiedDate" FieldName="_modifiedDate" FriendlyName="Modified Date" IncludeInOutput="true" />
		<Column Id="DeletedDate" CSType="System.DateTime?" PropertyName="DeletedDate" FieldName="_deletedDate" FriendlyName="Deleted Date" IncludeInOutput="true" />
		<Column Id="ImageUrl" CSType="System.String" PropertyName="ImageUrl" FieldName="_imageUrl" FriendlyName="Image Url" IncludeInOutput="true" />
	</Table>
	<Table Id="ProdType" EntityName="ProdType" Owner="dbo" PropertyName="ProdType" FieldName="_prodType" FriendlyName="Prod Type" IncludeInOutput="true">
		<Column Id="ID" CSType="System.Int32" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="Name" CSType="System.String" PropertyName="Name" FieldName="_name" FriendlyName="Name" IncludeInOutput="true" />
		<Column Id="IsActive" CSType="System.Boolean?" PropertyName="IsActive" FieldName="_isActive" FriendlyName="Is Active" IncludeInOutput="true" />
		<Column Id="CreatedDate" CSType="System.DateTime?" PropertyName="CreatedDate" FieldName="_createdDate" FriendlyName="Created Date" IncludeInOutput="true" />
		<Column Id="ModifiedDate" CSType="System.DateTime?" PropertyName="ModifiedDate" FieldName="_modifiedDate" FriendlyName="Modified Date" IncludeInOutput="true" />
		<Column Id="DeletedDate" CSType="System.DateTime?" PropertyName="DeletedDate" FieldName="_deletedDate" FriendlyName="Deleted Date" IncludeInOutput="true" />
		<ChildCollection Id="ProdTableCollection" PropertyName="ProdTableCollection" FieldName="_prodTableTypeId" FriendlyName="ProdTableCollection" CSType="TList&lt;ProdTable&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_ProdTable_ProdType" IncludeInOutput="true"/>
	</Table>
	<Table Id="States" EntityName="States" Owner="dbo" PropertyName="States" FieldName="_states" FriendlyName="States" IncludeInOutput="true">
		<Column Id="ID" CSType="System.Int32" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="CountryID" CSType="System.Int32?" PropertyName="CountryId" FieldName="_countryId" FriendlyName="Country Id" IncludeInOutput="true" />
		<Column Id="Name" CSType="System.String" PropertyName="Name" FieldName="_name" FriendlyName="Name" IncludeInOutput="true" />
		<Column Id="Pin" CSType="System.Int64?" PropertyName="Pin" FieldName="_pin" FriendlyName="Pin" IncludeInOutput="true" />
		<Column Id="IsActive" CSType="System.Boolean?" PropertyName="IsActive" FieldName="_isActive" FriendlyName="Is Active" IncludeInOutput="true" />
		<Column Id="CreatedDate" CSType="System.DateTime?" PropertyName="CreatedDate" FieldName="_createdDate" FriendlyName="Created Date" IncludeInOutput="true" />
		<Column Id="ModifiedDate" CSType="System.DateTime?" PropertyName="ModifiedDate" FieldName="_modifiedDate" FriendlyName="Modified Date" IncludeInOutput="true" />
		<Column Id="DeletedDate" CSType="System.DateTime?" PropertyName="DeletedDate" FieldName="_deletedDate" FriendlyName="Deleted Date" IncludeInOutput="true" />
		<Column Id="PinCode" CSType="System.String" PropertyName="PinCode" FieldName="_pinCode" FriendlyName="Pin Code" IncludeInOutput="true" />
		<ChildCollection Id="CustomerBillingCollection" PropertyName="CustomerBillingCollection" FieldName="_customerBillingStateId" FriendlyName="CustomerBillingCollection" CSType="TList&lt;CustomerBilling&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_CustomerBilling_States" IncludeInOutput="true"/>
		<ChildCollection Id="DistributarsCollection" PropertyName="DistributarsCollection" FieldName="_distributarsStateId" FriendlyName="DistributarsCollection" CSType="TList&lt;Distributars&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_Distributars_States" IncludeInOutput="true"/>
		<ChildCollection Id="CitiesCollection" PropertyName="CitiesCollection" FieldName="_citiesStateId" FriendlyName="CitiesCollection" CSType="TList&lt;Cities&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_Cities_States" IncludeInOutput="true"/>
	</Table>
	<Table Id="UserType" EntityName="UserType" Owner="dbo" PropertyName="UserType" FieldName="_userType" FriendlyName="User Type" IncludeInOutput="true">
		<Column Id="ID" CSType="System.Int32" PropertyName="Id" FieldName="_id" FriendlyName="Id" IncludeInOutput="true" />
		<Column Id="UserType" CSType="System.String" PropertyName="UserType" FieldName="_userType" FriendlyName="User Type" IncludeInOutput="true" />
		<Column Id="IsActive" CSType="System.Boolean?" PropertyName="IsActive" FieldName="_isActive" FriendlyName="Is Active" IncludeInOutput="true" />
		<Column Id="CreatedDate" CSType="System.DateTime?" PropertyName="CreatedDate" FieldName="_createdDate" FriendlyName="Created Date" IncludeInOutput="true" />
		<Column Id="ModifiedDate" CSType="System.DateTime?" PropertyName="ModifiedDate" FieldName="_modifiedDate" FriendlyName="Modified Date" IncludeInOutput="true" />
		<Column Id="DeletedDate" CSType="System.DateTime?" PropertyName="DeletedDate" FieldName="_deletedDate" FriendlyName="Deleted Date" IncludeInOutput="true" />
		<ChildCollection Id="CustomersCollection" PropertyName="CustomersCollection" FieldName="_customersUserType" FriendlyName="CustomersCollection" CSType="TList&lt;Customers&gt;" RelationshipType="OneToMany" ForeignKeyName="FK_Customers_UserType" IncludeInOutput="true"/>
	</Table>
</NetTiersMap>
