body{background:url(../images/bg.jpg) repeat-x #f4f7f0; margin:0px; padding:0px; font-family: 'Open Sans', sans-serif;font-size: 14px;}
a{text-decoration:none; color:#95b224;}
select,input{border:1px solid #ddd;}
select.acc{width:45px;}
body #wrapper{width:1050px; margin:0 auto; padding:0px; display:table;}
#wrapper .top_header{width:100%; margin:0px; padding:0px; float:left;}
#wrapper .top_header .left_menus{width:40%; float:left; margin:0px; padding: 3px 0;}
#wrapper .top_header .left_menus ul{list-style-type:none; margin:0px; padding:0px;float:left;}
#wrapper .top_header .left_menus ul li{float:left; margin:0px;  padding: 0 7px; display:inline-block;}
#wrapper .top_header .left_menus ul li a{color:#8c8c8c;font-size:14px; text-decoration:none;}
#wrapper .container_prtion #slideshow_newarrivals{padding:0 17px; margin:0px; float:left;}
#wrapper .container_prtion .slideshow-box{ height: 440px;
    overflow: hidden;
    position: relative;}


#wrapper .container_prtion .left_portion .slideshow-box li.item{display: block;  padding: 5px 0 20px; border: 0 none; height: 89px !important; margin:0px; border-bottom:1px dashed #ccc;}
#wrapper .container_prtion .left_portion .slideshow-box li.item a{background:none;font-size: 11px; padding: 0;font-weight: normal;}
#wrapper .container_prtion .left_portion .slideshow-box li.item .product-image{  float: left; margin: 0 -50px 0 0;}
#wrapper .container_prtion .left_portion .slideshow-box li.item .product-details { float: right;   margin: 9px 0 0; width: 90px;}

.f-fix {
    float: left;
    width: 100%;
}
.product-name {
    color: #565452 !important;
    margin: 0;
}
#carousel ul.pricing li.stars{border:1px solid #eee; margin:0px; padding:0px; float:right;box-shadow: 0 0 1px #DDDDDD;}	
#carousel ul.pricing li{float:left;}
#carousel1 ul.pricing li.stars{border:1px solid #eee; margin:0px; padding:0px; float:right;box-shadow: 0 0 1px #DDDDDD;}	
#carousel1 ul.pricing li{float:left;}
#wrapper .top_header .top_rightprtion{width: 33%; float:right; margin:0px;  padding: 3px 0;}
#wrapper .top_header .top_rightprtion .login{color:#95b224; float:left;}
#wrapper .top_header .top_rightprtion .cart{float:left;margin: 0 7px; padding:0px; font-size: 14px;}
#wrapper .top_header .top_rightprtion .cart img{float:left;}
#wrapper .top_header .top_rightprtion .cart .qty{background:#b0d82a; margin: 0 4px; border-radius:3px; padding: 0 3px; float:left;color: #5A5A5A;}
#wrapper .top_header .top_rightprtion .cart .price{margin:0xp; padding:0xp; float:left;color: #5A5A5A;}
#wrapper .top_header .top_rightprtion .youracc{color:#95b224; padding: 0 6px; margin:0px; float:left;}
#wrapper .top_header .top_rightprtion .countries{margin:0px; padding:0px; float:left;}
#wrapper .bottom_header{float:left; margin:0px; padding:0px;width:100%;  }
#wrapper .bottom_header .logo{float:left;margin: 12px 0; padding:0px;}
#wrapper .bottom_header .header_rightprtion{float:right; width: 24%; margin:0px; padding:0px;}
#wrapper .bottom_header .header_rightprtion .call_us{float:right; margin: 4px 0; padding:0px;font-size: 18px;color: #5A5A5A;}
#wrapper .bottom_header .header_rightprtion .call_us span{color:#95B224;}
#wrapper .bottom_header .header_rightprtion .search{float:right; margin: 8px 0 0; padding: 6px 4px; transition: width 1s ease 0s; width: 179px;background: url("../images/lens.png") no-repeat scroll 155px 4px #EDEFEA; border:none; color:#70716c;}
.menus{width:1005; background:url(../images/menubg.jpg) repeat-x; margin:0px ; padding:0px; float:left; width:100%; border-top-left-radius:4px; border-top-right-radius:4px;}
.menus ul{list-style-type:none; margin:0px; padding:0px;}
.menus ul li{display:inline-block; float:left; margin:0px; padding: 0 0px;}
.menus ul li a{color:#fff; padding: 6px 20px; float:left; background:url(../images/menus_breaker.jpg) top right no-repeat;}

.container_prtion{width:99%; margin: 0;  padding: 12px 6px 0;float:left;background: none repeat scroll 0 0 #FFFFFF; }
.container_prtion .left_portion{width:250px; float:left; margin:0px; padding:0px;}
.container_prtion .left_portion .block{width:250px; float:left;margin: 0 0 10px; padding:0px;}
.container_prtion .left_portion .block .block-title{background:url(../images/menubg.jpg) repeat-x; margin:0px ;  padding: 8px; width: 98%;float:left;text-shadow: 1px 1px 2px #DDDDDD; color:#fff;border-top-left-radius:4px; border-top-right-radius:4px; text-transform:uppercase; }
.container_prtion .left_portion .block .block-content{  border-bottom: 1px solid #DDDDDC; border-left: 1px solid #DDDDDC; border-right: 1px solid #DDDDDC; padding: 5px 0px;background: url(../images/bkg_block-content.jpg) repeat-x scroll left top #FFFFFF;width: 98%; float:left;}
.container_prtion .left_portion .block .block-content ul{list-style-type:none; margin:0px; padding:0px; float:left;}
.container_prtion .left_portion .block .block-content ul li{display:block; float:left;border-bottom: 1px dashed #E0E0DF; margin: 0px 0; padding: 4px 10px;
    width: 91%;}
	.container_prtion .left_portion .block .block-content ul li a{    background: url("../images/arrows.png") no-repeat scroll -3px 5px transparent;padding: 0 0 0 12px; color: #5A5A5A;}
.bannerimg{border:1px solid #DDDDDC; text-align:center; padding:4px 0; width:98%;}
.right_portion{  float: left; margin: 0 0 0 16px; padding: 0; width: 751px;}
.right_portion .heading{  border-bottom: 1px solid #DDDDDD;
    color: #89A91D;
    float: left;
    font-size: 21px;
    height: 33px;
    margin: 0 0 16px;
    padding: 0;
    width: 100%;}
.product_listing{  float: left;margin: 0 0 20px; padding: 0;  width: 751px;}
.addcart{background: url("../images/btn.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);padding: 3px 6px;border-radius: 11px 11px 11px 11px; margin:0px; color:#fff; margin: 10px 0; float:left;}
.product_listing ul{list-style-type:none; margin:0px; padding:0px; float:left;width: 100%;}
.product_listing ul li{ border-right: 1px solid #E7E7E7;display: inline-block;  margin: 10px 7px 10px 0; padding: 0; width: 187px;}
.product_listing ul li:hover{ }
#carousel ul.pricing{width:100%;white-space: normal;}
.product_listing ul li.remove { border-right: none; display: inline-block; float: left; margin: 10px 0px 10px 0; padding: 0; width: 187px;}
.product_listing ul li a{ background: none repeat scroll 0 0 #FFFFFF; display: table-cell; height: 165px; text-align: center; vertical-align: middle; width: 169px;}
.product_listing ul li .content{ margin-bottom: 8px; overflow: hidden;width: 100%;}
.product_listing ul .content h2{float:left; width: 91%;margin: 10px 0; padding: 0;}
.product_listing ul .content h2 a { color: #86B112;  font-size: 13px; font-weight: bold; height:inherit; width:inherit;text-align:left; padding-left: 7px;}
.product_listing ul .content ul.desciption {
    list-style: disc outside none; width: 93%;
}

.product_listing ul .content ul.desciption li {
    border: 0 none;
    color: #A1A1A1;
    display: list-item;
    font-size: 11px;
    height: auto !important;
    line-height: 17px;
    margin-left: 15px;
    padding: 0 0 0 12px;
	margin:0px;  background: url("../images/arroww.png") no-repeat scroll left 5px transparent;
}
.product_listing ul .content ul.desciption li:hover{box-shadow:none;}
ul.pricing .buyat{background: url("../images/rs.png") no-repeat scroll 1px 6px transparent;
    color: #678C5C;
    font-size: 20px;
    padding: 0 0 0 15px; border:none;}
	ul.pricing .buyat:hover{box-shadow:none;}
	.footer_top{width:100%; background:#E9E9E9; margin:0px; padding:0px;}
.footer_wrapper{width:1050px; margin:0 auto;  padding: 8px 0 9px;display:table;}
 .footer_wrapper .socials_icons{width:30%; float:left; margin:0px;    padding: 10px 0 0;}
.footer_wrapper .socials_icons span{float:left; color:#565452;  margin: 4px 7px 0 0;padding:0px;}
.footer_wrapper .socials_icons ul{list-style-type:none; margin:0px; padding:0px; float:left;}
.footer_wrapper .socials_icons ul li{display:inline-block;  margin: 0 6px 0 0; padding:0px; float:left;}
.footer_wrapper .newsletter{ width: 43%; float:right; margin:0px; padding:0px;}
.footer_wrapper .footerhead{float:left; margin:0px;  line-height: 42px; padding: 1px 0 3px 51px;color: #565452; background:url(../images/miximg.png) no-repeat top left;}
.email{float:left; margin:0px; padding: 10px 0 0;}
.email input{width:200px; border:1px solid #ddd; float:left;margin: 0 5px; padding: 4px;}
.email input.newsbtn{    background: url("../images/btn.jpg") no-repeat scroll 0 0 transparent; border: medium none; color: #FFFFFF; float: left;font-size: 13px; margin: 0; padding: 4px 6px; width: inherit;}
.footer_bottom{width:100%; background:#5A5751; margin:0px; padding:0px;}
 .footer_wrapper .copyright{color: #989388; font-size: 13px; width: 40%; float:left;}
 .footer_wrapper .btm_footerright{color: #989388; font-size: 13px; width: 50%; float:right;}
  .footer_wrapper .btm_footerright ul{list-style-type:none; margin:0px; padding:0px; float:right;}
 .footer_wrapper .btm_footerright ul li{display:inline-block; margin:0 10px; padding:0px; float:left;}
  .footer_wrapper .btm_footerright ul li a{color:#989388;}


