.product_main {
    width: 998px;
}

.page-main-cont {
    width: 995px;
    padding: 15px 0 9px 3px;
    overflow: visible!important;
}

.product_breadcrumb_outer {
    overflow: hidden;
    margin: 10px 0 0 0;
}

    .product_breadcrumb_outer .left_text {
        float: left;
        font-size: 15px;
        font-weight: bold;
        padding-left: 5px;
    }

#personalizationWidget-1 .bx-next {
    background: url("/img/homaPageLeftCategory/next_active.png") no-repeat 0 2px;
    position: absolute;
    top: auto;
    width: 24px;
    height: 42px;
    right: 12px;
}

.product_breadcrumb_outer .right_cod_text {
    background: #e0dede url(/img/allproduct/product_cod.gif) 10px center no-repeat;
    float: right;
    font-size: 12px;
    border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    width: 140px;
    padding: 5px 7px 5px 55px;
}

.allProduct-right_cont {
    width: 760px;
}

.products_wrapper {
    overflow: hidden;
    padding: 20px 0;
}

#seemore a {
    display: block;
    padding: 2px;
    text-align: center;
    font-size: 12px;
    margin: 0 auto 15px auto;
}

.soldout {
    background: transparent url(/img/snapdeal/soldoutsmall.png) no-repeat;
    width: 39px;
    height: 39px;
    z-index: 10;
    position: absolute;
    top: auto!important;
    right: 3px;
    bottom: 3px;
}

.soldoutListView {
    background: transparent url(/img/snapdeal/soldoutsmall.png) no-repeat;
    width: 39px;
    height: 39px;
    z-index: 10;
    position: absolute;
    margin: -46px 0 0 60px;
    top: 155px;
    left: 25px;
}

.no-prod-div {
    width: 0;
    height: 0;
    clear: both;
}

.allproducts-cont {
    overflow: hidden;
    margin-top: 8px;
}

.no-filters {
    background: #fff;
    border: 0;
    float: left;
}

.no-filters-banner {
    margin-bottom: 7px;
}

.sort-slider-bottom-text {
    font-size: 10px;
    text-align: center;
    color: #858585;
}

.sort-slider-min-max-outer {
    overflow: hidden;
    font-size: 10px;
    color: #676767;
    padding: 10px;
}

.sort-slider-min-max-value-outer {
    overflow: hidden;
    font-size: 11px;
    color: #343434;
    font-weight: bold;
    margin-top: 7px;
    padding: 10px;
}

.min-value {
    float: left;
    text-align: right;
    width: 45%;
}

.max-value {
    float: right;
    width: 45%;
}

.filter-no-results {
    background: url(/img/snapdeal/no-prod-alert.png) no-repeat;
    padding: 3px 0 0 62px;
    color: #303030;
    font-size: 13px;
    margin: 20px 0 0 10px;
    height: 42px;
}

    .filter-no-results span {
        color: #a1060a;
        font-weight: bold;
        font-size: 16px;
    }

.filter-no-prod-suggest-outer {
    overflow: hidden;
    margin: 26px 0 16px 3px;
}

.filter-no-prod-suggest {
    background: #dbfce1;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #adffbc;
    border-right: 0;
    -moz-border-radius: 8px 0 0 8px;
    -webkit-border-radius: 8px 0 0 8px;
    border-radius: 8px 0 0 8px;
    padding: 6px 0 8px 9px;
    float: left;
}

.filter-no-prod-ico {
    background: url(/img/snapdeal/no-prod-suggest.png) no-repeat;
    float: left;
    width: 22px;
    height: 31px;
}

.filters-bor {
    border-bottom: 3px solid #93a1a2;
    height: 2px;
}

.refined-filters-outer {
    float: left;
    overflow: hidden;
    width: 670px;
}

.allProduct-left_cont {
    float: left;
    margin-left: -2px;
}

.lb-bg-mctg {
    border-top: 0 solid #DADADA;
    margin: 0 5px;
    padding: 8px 0;
}

.lst-bg-mctg {
    border-bottom: 0 dotted gray!important;
}

.mtchng-catgrs {
    padding: 1px 0;
}

.mtch-catgrs-title {
    color: #2a2a2a;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 0 3px 10px;
    background-color: #d4e5fc;
    margin-bottom: 7px;
}

.mtch-catgrs-subtitle {
    color: #2E2E2E;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 13px;
    font-weight: bold;
}

    .mtch-catgrs-subtitle a {
        color: #565656;
    }

.algn-top:hover {
    text-decoration: underline;
}

.catgrs-list {
    color: #9D9D9D;
    line-height: 22px;
    margin-left: -8px;
    margin-top: 5px;
    font-family: Tahoma,Geneva,sans-serif!important;
    font-size: 13px;
}

.cat-count {
    color: #b4b4b4;
    font-size: 11px;
}

.catlist-active, .brand-catlist-active {
    color: #C8890F!important;
    display: inline-block;
    width: 155px!important;
    font-weight: bold;
}

.brand-catlist-active {
    width: 150px!important;
}

    .catlist-active:hover, .brand-catlist-active:hover {
        color: #fff;
    }

    .catlist-active .cat-count, .brand-catlist-active .cat-count {
        color: #B4B4B4;
        font-weight: normal;
    }

.li-1st {
    padding-top: 10px!important;
}

.catgrs-list > li a, span.subcat-list {
    color: #2E2E2E;
    display: block;
    cursor: pointer;
}

    .catgrs-list > li a:hover, span.subcat-list:hover {
        color: #004b91!important;
        text-decoration: underline;
    }

.minus-collaps {
    background: url("/img/snapdeal/minus.gif") no-repeat scroll 0 0 transparent;
}

.plus-expand {
    background: url("/img/snapdeal/plus.gif") no-repeat scroll 0 0 transparent;
}

.no-expand-minus {
    background: url("/img/snapdeal/sprite/icon_sprite.png") no-repeat scroll -10px -1458px transparent;
}

.minus-collaps, .plus-expand, .no-expand-minus {
    height: 13px;
    margin-right: 2px;
    text-indent: -999px;
    width: 13px;
    display: inline-block;
    cursor: pointer;
}

.itmsCnt {
    color: #757575;
    font-size: 11px!important;
    font-weight: normal;
}

.algn-top {
    top: -2px;
    position: relative;
    font-size: 13px;
    cursor: pointer;
    color: #565656;
}

.hideCatgrsList {
    display: none;
}

.showCatgrsList {
    display: block;
}

.categoriesScroll {
    overflow-y: scroll;
    height: 214px;
}

.view-deal-link a {
    color: #0f2d5e;
    font-size: 11px;
    font-weight: normal;
    float: right;
    text-shadow: 0 0 #fff!important;
    text-align: right;
    display: block;
}

.shadowbox {
    width: 227px;
    margin-bottom: 15px;
}

.shadowtop {
    background: url(/img/snapdeal/fil_lft_top_shdw.png) top left no-repeat;
    height: 6px;
}

.shadowcenter {
    background: url(/img/snapdeal/fil_lft_cntr_shdw.png) top left repeat-y;
    padding: 0 5px;
}

.shadowbottom {
    background: url(/img/snapdeal/fil_lft_btm_shdw.png) top left no-repeat;
    height: 8px;
}

.float-L {
    float: left;
}

.main-banner {
    margin-left: 5px;
    width: 756px;
    height: 163px;
    position: relative;
}

.main-banner-img-list {
    width: 756px;
    position: absolute;
    display: none;
}

.main-banner-img {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    display: block;
}

.main-banner-outer {
    font-size: 12px;
    color: #3d3d3d;
    overflow: hidden;
    clear: both;
    margin: -10px auto 0 auto;
}

.main-banner-text {
    width: 150px;
    text-align: center;
    float: left;
    cursor: pointer;
}

.main-banner-active-text {
    font-weight: bold;
    color: #0097c7;
}

.main-banner-arrow {
    height: 10px;
    position: relative;
    width: 229px;
    margin: 0 0 5px -45px;
}

.main-banner-active-text .main-banner-arrow {
    background: url(/img/snapdeal/search/main-banner-active.png) no-repeat center top;
}

.errMssg {
    display: none;
    color: red!important;
}

.enableButton {
    border-top: 16px solid #C6C6C6;
    bottom: -50px;
    padding-left: 244px;
    position: absolute;
    text-align: center;
    width: 514px;
    z-index: 10;
}

.enableButtonbanner {
    border-top: 16px solid #C6C6C6;
    bottom: -50px;
    padding-left: 298px;
    position: absolute;
    text-align: center;
    width: 464px;
    z-index: 10;
}

.enableButtonleft {
    border-top: 16px solid #C6C6C6;
    bottom: -62px;
    padding-left: 35px;
    position: absolute;
    text-align: center;
    width: 78%;
    z-index: 10;
}

.productAttr {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #2e2e2e;
    width: 145px;
    border: 1px solid #ccc;
    overflow: hidden;
    margin-bottom: 8px;
    background: #f4f4f4 url(/img/allproduct/sel-menu-arrow.png) 128px center no-repeat;
    background: url(/img/allproduct/sel-menu-arrow.png) 128px center no-repeat,-moz-linear-gradient(top,#fff 0,#ebebeb 100%);
    background: url(/img/allproduct/sel-menu-arrow.png) 128px center no-repeat,-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#ebebeb));
    background: url(/img/allproduct/sel-menu-arrow.png) 128px center no-repeat,-webkit-linear-gradient(top,#fff 0,#ebebeb 100%);
    background: url(/img/allproduct/sel-menu-arrow.png) 128px center no-repeat,-o-linear-gradient(top,#fff 0,#ebebeb 100%);
    background: url(/img/allproduct/sel-menu-arrow.png) 128px center no-repeat,-ms-linear-gradient(top,#fff 0,#ebebeb 100%);
    background: url(/img/allproduct/sel-menu-arrow.png) 128px center no-repeat,linear-gradient(to bottom,#fff 0,#ebebeb 100%);
}

.sel-attribute {
    background: none;
    border: 0;
    width: 165px;
    outline: none;
    -webkit-appearance: none;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #434343;
    padding: 1px 2px;
}

.productAttr select {
    background: none;
    border: 0;
    width: 165px;
    outline: none;
    -webkit-appearance: none;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #434343;
    padding: 1px 2px;
}

.productAttr1 {
    margin-bottom: 5px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #2e2e2e;
    width: 127px;
    border: 1px solid #ccc;
    position: relative;
    overflow: hidden;
    background: #f4f4f4 url(/img/allproduct/sel-menu-arrow.png) 108px center no-repeat;
    background: url(/img/allproduct/sel-menu-arrow.png) 108px center no-repeat,-moz-linear-gradient(top,#fff 0,#ebebeb 100%);
    background: url(/img/allproduct/sel-menu-arrow.png) 108px center no-repeat,-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#ebebeb));
    background: url(/img/allproduct/sel-menu-arrow.png) 108px center no-repeat,-webkit-linear-gradient(top,#fff 0,#ebebeb 100%);
    background: url(/img/allproduct/sel-menu-arrow.png) 108px center no-repeat,-o-linear-gradient(top,#fff 0,#ebebeb 100%);
    background: url(/img/allproduct/sel-menu-arrow.png) 108px center no-repeat,-ms-linear-gradient(top,#fff 0,#ebebeb 100%);
    background: url(/img/allproduct/sel-menu-arrow.png) 108px center no-repeat,linear-gradient(to bottom,#fff 0,#ebebeb 100%);
}

    .productAttr1 select {
        background: none;
        border: 0;
        width: 144px;
        outline: none;
        -webkit-appearance: none;
        font-family: Tahoma,Geneva,sans-serif;
        font-size: 11px;
        font-weight: bold;
        color: #434343;
        padding: 3px 0;
    }

.attributeselectmenu {
    width: 130px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #efefef url(/img/allproduct/sel-menu-arrow.png) no-repeat 110px;
    position: relative;
}

    .attributeselectmenu span.selecttext {
        display: inline-block;
        width: 120px;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 11px;
        color: #434343;
        word-wrap: break-word;
        position: absolute;
        z-index: 0;
        top: 4px;
        left: 8px;
        background: transparent;
        height: 14px;
    }

.product_grid_row {
    padding: 0 8px 8px 8px;
}

.product_grid_cont {
    float: left;
    position: relative;
}

    .product_grid_cont a {
        display: block;
        padding: 7px 0 8px 0;
    }

.freebies_inside {
    text-align: left;
    margin: 0!important;
    margin-bottom: 8px!important;
}

.product_grid_cont:hover {
    box-shadow: 0 0 8px #888;
}

.lclear {
    clear: left;
    height: 0!important;
}

.product_grid_cont_heading {
    font-size: 12px;
    color: #2e2e2e;
    padding-top: 6px;
    margin-bottom: 8px;
    word-wrap: break-word;
}

.product_grid_cont:hover .product_grid_cont_heading {
    text-decoration: underline;
    color: #004B91;
}

.product_grid_cont_price_outer {
    overflow: hidden;
    margin-bottom: 8px;
}

.product_price {
    font-size: 13px;
    color: #2e2e2e;
    font-weight: bold;
    float: left;
    text-align: left!important;
}

    .product_price span.originalprice {
        font-size: 11px;
        color: #757575;
        text-decoration: line-through;
        font-weight: normal;
    }

.product_discount_outer {
    float: right;
    overflow: hidden;
}

input.lfloat {
    margin-left: 1px;
}

.product_small_cod {
    background: url(/img/allproduct/product_cod_small.gif) no-repeat left;
    width: 36px;
    height: 20px;
    float: left;
}

.product_discount {
    font-size: 10px!important;
    color: #fff!important;
    float: right;
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
    background: #212121 url(/img/allproduct/discount_arrow_small.gif) no-repeat left;
    padding: 0 5px 1px 10px;
    width: 23px;
    line-height: 13px;
}

    .product_discount span {
        font-size: 11px;
        font-weight: normal;
        display: none;
    }

.product_new {
    background: url(/img/allproduct/product_new.png) no-repeat;
    width: 18px;
    height: 32px;
    position: absolute;
    margin: -14px 0 0 -3px;
    z-index: 3;
}

.product-image {
    cursor: pointer;
    background: url(/img/ajax-loader.gif) no-repeat center center;
    position: relative;
}

label.addToCompare {
    margin: 0;
    position: absolute;
    bottom: 1px;
}

.addtoComList {
    position: inherit!important;
    width: auto!important;
}

.product-cod {
    background: #fafafa;
    font-size: 11px;
    color: #4d4d4d;
    padding: 2px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #eaeaea;
    width: 154px;
}

.gridLayout4 {
    width: 166px;
    padding: 1px 10px 13px 10px;
}

    .gridLayout4 .product-image, .gridLayout4 .product-image img {
        width: 166px;
        height: 194px;
    }

.gridLayout3 {
    width: 220px;
    padding: 1px 12px 13px 12px;
}

    .gridLayout3 .product-image, .gridLayout3 .product-image img {
        width: 220px;
        height: 258px;
    }

    .gridLayout3 .product_discount {
        margin-right: 60px;
    }

.product_list_view_cont {
    border-top: 1px dotted #B5B5B5;
    padding: 10px;
}

    .product_list_view_cont .product_image_wrapper {
        width: 126px;
        margin-right: 15px;
    }

        .product_list_view_cont .product_image_wrapper .product-image {
            display: block;
            margin-right: 15px;
            width: 126px;
            height: 148px;
        }

.product_list_view_info_cont {
    width: 365px;
}

.product_list_view_heading {
    font-size: 13px;
    font-weight: bold;
    color: #2e2e2e;
    padding-bottom: 8px;
    word-wrap: break-word;
}

.product_list_view_price_outer {
    margin-top: 0;
    margin-bottom: 8px;
}

.product_list_view_price strike {
    color: #787878;
    font-size: 11px;
}

.product_list_view_price strong {
    font-size: 14px;
    color: #2e2e2e!important;
}

.product_list_view-discount {
    font-size: 10px!important;
    color: #fff!important;
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
    background: #212121 url(/img/allproduct/discount_arrow_small.gif) no-repeat left;
    padding: 0 5px 1px 10px;
    width: 23px;
    line-height: 14px;
    margin-left: 10px;
    margin-top: 3px;
}

.product_list_view_highlights {
    border: 1px solid #ededed;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 10px 10px 5px 10px;
    width: 200px;
}

    .product_list_view_highlights ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 11px;
        color: #4c4c4c;
    }

        .product_list_view_highlights ul li {
            background-image: url(/img/snapdeal/product-list.gif);
            background-repeat: no-repeat;
            background-size: 5px 5px;
            background-position: 8px 11px;
            padding: 5px 0 5px 20px;
            overflow: hidden;
            max-height: 25px;
            line-height: 11pt;
        }

.product_list_view_shipped {
    background: url(/img/snapdeal/gridView/shipped-ico.png) no-repeat left center;
    font-size: 9px;
    color: #898989;
    padding: 0 5px 0 25px;
    width: 70px;
}

.product_list_view_cod {
    background: url(/img/snapdeal/gridView/cod-ico.png) no-repeat 0 center;
    font-size: 9px;
    color: #898989;
    padding-left: 30px;
    border-left: 1px solid #d3d3d3;
    width: 85px;
    background-position: 9px;
}

.product_list_view_emi {
    background: url(/img/snapdeal/gridView/emi-ico.png) no-repeat 7px 5px;
    font-size: 9px;
    color: #898989;
    padding-left: 32px;
    border-left: 1px solid #d3d3d3;
    line-height: 10pt;
    padding-top: 4px;
    padding-bottom: 5px;
}

.product_list_view_info_cont .productAttr {
    font-size: 11px;
    display: block;
    padding: 5px 0;
    color: #3c3c3c;
    font-weight: normal;
    text-align: left;
}

    .product_list_view_info_cont .productAttr select {
        margin-left: 5px;
        font-size: 11px;
        border: 1px solid #BBB;
        background: #F0F0F0;
        padding: 2px;
    }

.product_list_view_buy-outer {
    margin-top: 8px;
}

.product_list_view-buyBtn {
    background: #1c8bd4;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#34a1e9',endColorstr='#0878c3');
    background: -webkit-gradient(linear,left top,left bottom,from(#34a1e9),to(#0878c3));
    background: -moz-linear-gradient(top,#34a1e9,#0878c3);
    width: 60px;
    height: 22px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
}

    .product_list_view-buyBtn a {
        background: url(/img/snapdeal/gridView/buy-arrow.png) 40px 6px no-repeat;
        padding: 2px 0 0 11px;
        display: block;
        color: #fff;
    }

.product_list_view-preorderBtn {
    background: #1c8bd4;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#34a1e9',endColorstr='#0878c3');
    background: -webkit-gradient(linear,left top,left bottom,from(#34a1e9),to(#0878c3));
    background: -moz-linear-gradient(top,#34a1e9,#0878c3);
    width: 95px;
    height: 22px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
}

    .product_list_view-preorderBtn a {
        background: url(/img/snapdeal/gridView/buy-arrow.png) 77px 6px no-repeat;
        padding: 3px 0 0 9px;
        display: block;
        color: #fff;
    }

.product_list_view_viewLink a {
    font-size: 11px;
    color: #004b91;
    text-decoration: underline;
    display: block;
    width: 68px;
    margin: 3px 0 0 10px;
}

.product_list_view_buy-outer label.addToCompare {
    margin-top: 2px;
}

.view_type_wrapper {
    margin: 4px 2px 0 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.view_type {
    background: #eee;
    color: #525252;
    font-size: 11px;
}

.view_type_wrapper span {
    padding: 4px 10px 4px 30px;
    display: block;
}

    .view_type_wrapper span.list {
        background: url(/img/snapdeal/gridView/list-view-ico.png) no-repeat 10px center;
        border-right: 1px solid #acacac;
        cursor: pointer;
    }

    .view_type_wrapper span.grid {
        background: url(/img/snapdeal/gridView/grid-view-ico.png) no-repeat 10px center;
        cursor: pointer;
    }

.inactive_view {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ececec',endColorstr='#d4d4d4');
    background: -webkit-gradient(linear,left top,left bottom,from(#ececec),to(#d4d4d4));
    background: -moz-linear-gradient(top,#ececec,#d4d4d4);
    cursor: default;
}

ul.product-attr {
    list-style: none;
    margin: 0;
    padding: 0;
}

    ul.product-attr li {
        display: inline-block;
        font-size: 11px;
        overflow: hidden;
        padding-right: 15px;
    }

.opti-txt {
    padding: 5px 5px 0 0;
    width: 68px;
}

select.selmenu {
    border: 1px solid #bbb;
    background: #f0f0f0;
    font-size: 12px;
    padding: 2px;
    filter: alpha(opacity=0);
    width: 130px;
    height: 22px;
    z-index: 10;
    position: relative;
}

.product_list_freebies {
    height: 20px;
    margin: 5px 0;
}

span.stars, span.stars span {
    display: block;
    background: url(/img/snapdeal/review/stars.png?v=1) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

    span.stars span {
        background-position: 0 0;
    }

.productReviews {
    height: 18px;
    padding-bottom: 2px;
    width: 150px;
    margin: 0 auto;
}

.productListViewReviews {
    padding-bottom: 3px;
}

.prebook-tag {
    background: #319ee6 url(/img/snapdeal/prebook-tag-arrow.gif) no-repeat right;
    font-size: 11px;
    color: #fff;
    padding: 1px 8px 2px 3px;
    width: 100px;
    margin-bottom: 7px;
}

.freebie_text {
    font-size: 11px;
    line-height: 16px;
    vertical-align: 4px;
}

.freebie_text_wrapper {
    padding-top: 5px;
    padding-left: 8px;
    width: 75%;
}

.prebookDate {
    color: #575757;
    padding: 3px 8px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #cecece;
    margin-bottom: 8px;
    width: 225px;
    margin-top: 9px;
}

.prebookInfoText {
    padding: 10px;
}

.prebookHelp {
    width: 16px;
    height: 15px;
    background: url(/img/snapdeal/help-button-ico.png);
    display: block;
    margin: 12px 3px 0 8px;
    cursor: pointer;
}

.prebookInfoVal {
    margin-left: 270px;
    position: absolute;
}

.toolTip-box-left-arrow {
    background: url(/img/snapdeal/contact/contact-resend-left-arrow.png);
    width: 8px;
    height: 17px;
    margin-top: 2px;
}

.toolTip-box {
    background: #f8f8f8;
    color: #4f4e4e;
    font-size: 12px;
    box-shadow: 0 2px 10px #636363;
    -moz-box-shadow: 0 2px 10px #636363;
    -webkit-box-shadow: 0 2px 10px #636363;
    border: 1px solid #DDD;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.toolTip-box-head {
    background: #ebebeb;
    font-size: 11px;
    font-weight: bold;
    padding: 2px 0 4px 10px;
}

.emiAmt {
    padding: 3px 0 3px 4px;
}

.emi-help {
    background: url(/img/snapdeal/help-button-ico.png);
    width: 15px;
    height: 15px;
    margin: 6px 0 0 5px;
    cursor: pointer;
}

.list-view-soldOut {
    padding: 3px 5px;
    font-weight: bold;
    font-size: 12px;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}

.freebie_sign_img {
    margin: 0 5px;
}

.payinAdv {
    padding: 5px 0 1px;
    color: #575757;
    margin-top: 2px;
}

.advPrice {
    font-size: 15px;
    font-weight: bold;
}

.remaingPrice {
    padding-top: 5px;
    font-size: 11px;
}

.original_price_prebook_list_view {
    font-size: 10px;
    color: #898989;
}

.selling_price_prebook_list_view {
    font-size: 15px;
}

.no-border {
    border: none;
}

#showPromoWindow {
    background: url(/img/snapdeal/PromocodeBg.png) no-repeat;
    font-family: tahoma;
    padding: 13px 0;
    margin-bottom: 10px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
}

#showPromotext {
    padding-left: 5px;
}

.offertext {
    display: inline-block;
    letter-spacing: 4px;
    text-align: center;
    width: 200px;
}

.showPromoConditionText {
    font-size: 11px;
    font-weight: normal;
    width: 100px;
    position: relative;
    color: #EDEDED;
    display: inline-block;
    padding-left: 11px;
    text-decoration: underline;
    width: 100px;
}

    .showPromoConditionText:hover {
        text-decoration: underline;
    }

.common-fine-prints-box {
    width: 260px;
    position: absolute;
    z-index: 999;
    left: -85px;
    display: none;
}

.common-fine-prints-arrow {
    background: url(/img/snapdeal/contact/contact-faq-ans-arrow.png);
    width: 16px;
    height: 9px;
    margin: 0 auto;
}

.common-fine-prints {
    background: #fff url(/img/snapdeal/fine-prints-ico.png) no-repeat 10px 10px;
    padding: 10px;
    color: #4f4e4e;
    font-size: 12px;
    box-shadow: 0 2px 10px #636363;
    -moz-box-shadow: 0 2px 10px #636363;
    -webkit-box-shadow: 0 2px 10px #636363;
    border: 1px solid #DDD;
}

.common-fine-prints-head {
    background: url(/img/snapdeal/fine-prints-ico.png) no-repeat;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0 10px 32px;
    border-bottom: 1px dotted #B1B0B0;
    margin-bottom: 5px;
}

.fineprints-close {
    background: #e7e7e7;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5',endColorstr='#dbdbdb');
    background: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#dbdbdb));
    background: -moz-linear-gradient(top,#f5f5f5,#dbdbdb);
    border: 1px solid #b5b5b5;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 60px;
    height: 19px;
    padding-right: 2px;
    cursor: pointer;
    margin-top: 5px;
}

    .fineprints-close span {
        display: block;
        background: url(/img/snapdeal/close.png) no-repeat right 2px;
        font-size: 11px;
        font-weight: bold;
        padding-right: 10px;
        padding-top: 2px;
    }

.ratingStarsBelowTitle {
    margin-bottom: 1px!important;
}

    .ratingStarsBelowTitle a {
        color: #5b5b5b;
        text-decoration: none!important;
        font-size: 11px!important;
    }

        .ratingStarsBelowTitle a:hover {
            color: #004B91;
            text-decoration: underline!important;
        }

.prod-prebook {
    text-align: left!important;
}

.sort {
    color: #565656;
    font-size: 14px;
}

.sortbox {
    color: #565656;
    float: left;
    font-size: 13px;
    margin-left: 5px;
    margin-top: 7px;
}

.sort .sort-value {
    color: #565656;
    float: left;
    font-size: 13px;
    margin-left: 10px;
    margin-top: 5px;
    padding: 2px 10px;
    cursor: pointer;
}

.sort .popbox {
    background-color: #5C5C5C!important;
    border-radius: 3px 3px 3px 3px;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    min-width: 39px;
    text-align: center;
}

.chosed-fltr-main-div {
    margin-top: 15px;
}

.selected-fltrs {
    border-right: 1px solid #B0B0B0;
}

.chosed-fltrs, .chosed-fltrs-rt {
    color: #323232;
    float: left;
    font-size: 11px;
    font-weight: bold;
    padding: 8px;
}

.chosed-fltrs {
    border-bottom: 1px dotted #646464;
    border-right: 1px solid #B0B0B0;
    border-top: 1px dotted #646464;
}

.chosed-fltrs-rt {
    border-bottom: 1px dotted #646464;
    border-right: 0 solid #B0B0B0;
    border-top: 1px dotted #646464;
}

    .chosed-fltrs span, .chosed-fltrs-rt span {
        background: url("/img/snapdeal/sprite/fltr-icons.png") no-repeat scroll right -13px transparent;
        font-size: 11px;
        font-weight: normal;
        padding-bottom: 2px;
        padding-right: 40px;
    }

.ascArrw, .descArrw {
    background-image: url('/img/snapdeal/sprite/fltr-icons.png');
    background-repeat: no-repeat;
    background-position: 38px -90px;
}

.descArrw {
    background-position: 38px -167px;
}

.filter-prod-text, .filter-prod-text h1, .filter-prod-text h2 {
    color: #C8890F!important;
}

    .filter-prod-text span {
        color: #C8890F!important;
    }

.cod-ico-list-view {
    width: 85px;
    font-size: 9px;
    margin: 0;
    line-height: inherit;
    color: #898989;
    background: url(/img/snapdeal/cod.gif) no-repeat 5px 3px;
    padding-left: 25px;
    border-left: 1px solid #d3d3d3;
}

.filtersOverlayDiv {
    background: rgba(210,210,210,0.1);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4cdddddd',endColorstr='#4cdddddd');
    width: 220px;
    position: absolute;
    top: 0;
    left: 4px;
    z-index: 10;
}

.cashBack {
    font-size: 12px!important;
}

.shippingImage {
    background: url("/img/shipping/fltr-icons.png") no-repeat scroll 2px -204px;
    height: 30px;
    left: 0;
    position: absolute;
    bottom: 0;
    width: 30px;
    z-index: 1111!important;
    background-color: white;
}

    .shippingImage.tooltip {
        outline: none;
    }

        .shippingImage.tooltip strong {
            line-height: 100%;
        }

        .shippingImage.tooltip:hover {
            text-decoration: none;
        }

        .shippingImage.tooltip span.box {
            z-index: 10;
            display: none;
            padding: 1px 8px 2px;
            margin-top: 26px;
            margin-left: 0;
            width: 137px;
            line-height: 14px;
            font-size: 10px!important;
            color: #fff!important;
            font-family: Tahoma,Trebuchet Ms,sans-serif;
            background-color: #141414!important;
            border-radius: 6px;
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            -ms-border-radius: 6px;
            -o-border-radius: 6px;
        }

            .shippingImage.tooltip span.box .arw {
                background: url("/img/shipping/fltr-icons.png") no-repeat scroll 2px -264px;
                width: 16px;
                height: 7px;
                position: absolute;
                top: -5px;
                left: 2px;
                display: block;
            }

        .shippingImage.tooltip:hover span.box {
            display: inline;
            position: absolute;
            color: #111;
            border: 1px solid #dadada;
            background: #fafafa;
            font-size: 150%;
        }
